*
{
	margin: 0;
	padding: 0;
}
#about-body
{
	 background:rgba(0,800,8000);
	 margin-top: -.9rem;
}
.about-info
{
	display: block;
	width: 100vw;
}
.about-text
{
	line-height: 40px;  /*height b/w consecutive lines*/
	height: 400px;
	width: 50vw;
	font-size: 25px;
	color: white;
	font-style: italic;
	float: left;
	text-align: center;
}
.img1
{
	height:400px;
	width:50vw;
	float: right;
	
}
.img1 img
{
	display: block;
	height:400px;
	width:400px;
	margin-right: 0%;
	border-radius: 50%;
	float: right;
}
.btn-clickme
{
	color: red;
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 5px;
}
#feedback
{
	margin-left: 15px;
	font-size: 35px;
}
#feesback-form
{
	margin-left: 20px;
}
.form-label
{
	font-size: 30px;
	color: #693D3D;
}
.form-label .label
{
	display: block;
}