*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.main-body
{
	background:rgba(0,800,8000,0.1);
	width:100%;
}
#main-nav
{

}

.about-body
{
	display: flex; 
	 flex-direction: column;
	 background:rgba(0,800,8000);
	 margin-top: -.9rem;
	
}
.about-info
{
	display: flex;
	flex-grow: 1;
	/*justify-content: space-around;*/
	align-items: center;
	width: 100vw;
}
.about-text
{
	line-height: 4rem;  /*height b/w consecutive lines*/
	font-size: 3.2rem;
	color: white;
	font-style: italic;
	
}
.about-text p
{ margin-left: 1rem;
   word-spacing: 1rem;
}
.click-on-below
{
	font-size: 2rem;
	color: rgba(100,0,100,.8);

}
.img1 img
{
	height: 25rem;
	width: 25rem;
	border-radius: 50%;
}
/*.about-text
{
	line-height: 40px;*/  /*height b/w consecutive lines*/
	/*height: 400px;
	width: 50vw;
	font-size: 25px;
	color: white;
	font-style: italic;
	float: left;
	text-align: center;
}
.img1
{
	height:400px;
	width:50vw;
	float: right;
	
}
.img1 img
{
	display: block;
	height:400px;
	width:400px;
	margin-right: 0%;
	border-radius: 50%;
	float: right;
}*/
.btn-clickme
{
	color: red;
	font-size: 1rem;
	padding: .5rem;
	border-radius: .3rem;
}
.feedback
{
	margin-left: 1rem;
	font-size: .7rem;
}
.feedback-form
{
	/*background: green;*/
	display: flex;
	flex-direction: column;
	margin-left: 1.5rem;
	width: 40vw;
	min-height: 55rem;
}
.form-label
{ 
	display: flex; 
  float: left;
	flex-direction: column;
	font-size: 2rem;
	color: #693D3D;
	margin-left: 4vw;
	margin-top: .4rem;/*it is applied for all form-label from parent*/
}
/*#email 
{
  margin-top: 0px;
}*/
.form-label label
{
   color: red;

}
.form-label input,#gender
{
	 margin-left: .2vw;
	 height: 2rem;
   border-radius: 2.25rem;
	width: 20vw;
}
#message
{
	border-radius: 1rem;
	height: 4rem;
	width: 20vw;
}
.membership,.this-site-is
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: -2rem;
}
.membership p,.this-site-is p
{
	font-size: 1.5rem;
}
.membership input,.this-site-is input
{
	width: 15vw;
}
.btn-submit,.btn-reset
{
	
	/* margin-left: .2vw;*/
	 height: 2rem;
   border-radius: 2.25rem;
	width: 10vw;
	margin-top: 1rem;
  padding: 1rem;
}
#submit-reset-div
{  margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.feedback-wish
{
	 color: #7D4427;font-size: 40px;font-weight: bolder;
}
/*.form-label .label
{
	display: block
}*/
@media only screen and (max-width:700px)
{
	*
	{
		overflow-x: hidden;
	}
	.about-info
	{
		display: flex;
		flex-direction: column;
	
	}
    .about-text p
    {
    	margin-left:0%;margin-right: 0%;
    	font-size:2rem;
    	word-spacing: normal;
    	line-height: 2rem;
    }
	.img1 img
{
	height: 20rem;
	width: 90vw;
	border-radius: 50%;
}
.btn-submit,.btn-reset
{
    width: 40vw;
}
.feedback-form,.form-label,.membership,.this-site-is
{  /*background: green;*/
	margin-left:-15%; margin-right:-18%;
	width: 100vw;
	display: flex;flex-direction: column;
	align-items: center;justify-content: center;
}
.form-label input
{
	width:60vw;
	margin-left: 2%;margin-right: 2%;

}
.form-label
{
	margin-left:.05%;
}
#message
{
	width: 80vw;
}
.feedback-wish
{

}

}