/*for comment use ctrl+shift+/ in css*/
*
{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	outline: none;

   
}
body
{   background-color: #44b78b;
	background: #2df0b5;
	/*background: #44b78b;*/
     
	/*background-color: #353C3F;*/
	/*background-color:green;*/
	/*background-color:rgba(0,800,8000);*/
	/*opacity: .4;*/
	font-family:  Roboto;
	font-size:1.25rem;
	max-width: 100vw;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	/*background-image: url("F:/paramcomputer/img/back1.jpg");*/
	background-repeat: no-repeat;
}
li
{
	list-style-type: none;
}
#main-nav
{  max-width: 100%;/*it obtaine screen width size*/
	background-color:#ff4d73;
	position: sticky;
	top: 0px;
	left: 0px;
	display: flex;

}
.main-menu
{
	width: 95%;
}
.mobile-icon
{
	display: none;
	cursor: pointer;
}
#main-nav a
{  
	display: block;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-weight: 400%;
	/*color: #301B28;*/
	/*color: #fff;*/
	color: #fff;
}
#main-nav a:hover
{
	color: #ff4d73;
	background: #fff;
}
#main-nav ul 
{
	display: flex;
	list-style-type: none;
}
#main-nav li
{
	text-align: center;
	width: 100%;
	position: relative;
}
#main-nav li:hover .service-menu >li
{
	display: block; 
}
.service-menu li
{
	display: none;
	position: relative;
}
.service-menu
{
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
}
.service-menu li:hover .jansuvidha-menu li
{
	display: block;
}
.jansuvidha-menu li
{
	display: none;
}
.jansuvidha-menu
{  width: 100%;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 100%;/*top 0 aur left 100% position absolute is important ,side me dikhne ke liye*/
}
/*.bar-area
{
	display: none;
}*/
/*#bar {
			font-size: 160%;
			color: grey;
			cursor: pointer;
		}*/

.logo-image
{
	height: 3.5rem;width: 5rem;
	
	margin-top: 0;
	margin-bottom: 0;
}
#institute-name-section
{
	height: 100vh;
	position: relative; top: -10rem;

}
#institute-name-section::after
{

  content:"";
  background-image: url("./img/back1.jpg"); 
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 

}
 
#institute-name-div
{   opacity:none;
	/*text-align: center;*//*background-color: #756867;*/ /*text-shadow: .14rem .14rem*/ /*#ff4d73;*/ /*#E73F0B;*/
   position: relative; top: 10rem;
	
	min-height: 10rem;
	min-width: 50%;
	margin-top: 10rem;
	margin-left: 15%;
	font-family: comic Sans MS;
	/*background: #fff;*/
	color: #ff4d73;
	/*background: rgba(0,800,8000);*/
}
#institute-name-div ul
{
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	justify-content: center;
  list-style-type: none;
  /*margin-left: -1.4rem;
  margin-top: 1rem;*/
}
/*#institute-name-div ul li
{
	font-size: 160%;color: #A11F0C;font-weight:bolder;
}*/
/*.welcome h1
{
	font-size: 5rem;
	opacity: 1;
	color: #ff4d73;
}*/
.institute-name h1
{
	font-size: 140%;
	opacity: 0.8;
	color: #ff4d73;
	font-weight: 1000%;

}
.welcome-to
{
	font-size: 250%;
	color: #d90748;
}
.color-change1
{
	animation: colorchangename 1s infinite
}
@keyframes colorchangename
{
	0%{color: #FF420E;}
	25%{color: #80BD93;}
	50%{color:red;}
	100%{color:#ff4d73;}
}
.below-container
{
	height: 60vh;
	position: relative; top:-10rem;
	background: #44b78b;
}
.stay-tuned-container
{  
	position: relative;top: 4rem;

	background-color: #2D3033;
	color: #00CFFA;
	/*margin-top: 30rem;*/
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-height: 10.5rem;width: 100%;
	border-radius: 2rem;
}
.subscribe
{
	color: #fff;
	background: #FF420E;
	font-size: 200%;
	height: 6.2rem;

	border:none;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;/*make hatheli pointer */
	}
.email-address input
{
	width: 50%;
	height: 2.5rem;
	border:none;
	color: #2E4600;
	border-radius: 1rem;
}
.email-address input:focus
{
	background-color: rgba(0,0,1000,0.1);
}
.stay
{
	display: flex;
	flex-direction: column;
}
.powered-by
{
	font-size: 160%;
	/*color: #626D71;*/
	color: #b02419;
}

/*nav
{
	display: flex;align-items: center;
	max-height:5rem;,width: 100vw;
	background-color:#D5D6D2;
	position: sticky;
	top: 0px;
	left: 0px;
	flex-shrink: 1;
	margin-right: 0;
	margin: 0;
	padding: 0;
}*/
/*.logo
/*
	width:30%;
	/*background: red;*/


/*.logo-image

	height: 5rem;width: 7rem;
	
	margin-top: 0;
	margin-bottom: 0;

li

	list-style-type: none;

a
{
	text-decoration: none;
}
/*nav ul
{ 
	width: 100vw;
	display: flex;flex-grow: .5;
	justify-content: space-around;
	font-size: 2rem;
	font-weight:bold;
	

}*/
/*nav ul li a
{
	color: #301B28;
}
#bar {
			font-size: 2rem;
			color: grey;
			cursor: pointer;
		}
		#check
		{
			display: none;
		}
.service-menu,.jansuvidha-menu
{
	display: none;
  position: absolute;
  background-color: red;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}*/
/*nav ul li:hover .service-menu
{
display: block;

}*/
/*.service-menu li:hover .jansuvidha-menu
{
   background: green;
	display: flex;
	flex-direction:column;
	position: absolute;
   z-index: 1;this is very important for dropdown menu with position and display type
   margin-left: 16rem;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   min-width: 14rem;
   max-width: 16rem;
   font-size: 1.5rem;
   line-height: 2.8rem;

}*/


/*nav
{
	min-width: 100vw;
	max-width: 100vw;
	max-height: 5rem;
	background-color:#D5D6D2;
	position: sticky;   it is also depend on previous div,it may not work if previous div overflow
	so upper div set clear:both;
	top: 0px;
	left: 0px;
	display: inline-block;
}*/
/*nav
{
	
}*/
/*.logo
{
	width: 7rem;
	height: 6rem;
	line-height: 5rem;
	margin-left: 10px;
}
#bar {
			font-size: 2rem;
			line-height: 5rem;
			float: right;
			margin-right: 1.4rem;
			color: grey;
			cursor: pointer;
		}
		#check
		{
			display: none;
		}*/
/*nav ul
{
  list-style-type: none;/*remove the list style type like bullet circle etc*/
			/*float: right;
			margin-right: 2rem;
			line-height: 4.8rem;
			display: flex;
			flex-direction: row;
			

}*/
/*nav ul li
{
	
	display: inline-block;
	margin:0 0;
	line-height: 4.8rem;/*height b/w consecutive lines*/
	  /*vertical list now in a row line  */ 
/*	width: 8rem;
	position: relative;
	margin:0 .1rem;
	clear: both;
}*/
/*nav ul li a  /*important*/
/*{
	text-decoration: none; it not work in menu-bar ul li since a tag used
	color: #301B28;
	font-size: 1.6rem;
	text-align: center;
	}*/
/*nav ul li:hover change css when cursor on menu-bar ul li(:hover) 
{
	background-color: #506D2F;
}
*//*nav ul li:hover >a
{
	color: white; it not work when written in menu-bar ul li:hover since a tag text
}*/
/*Let us create side by side div*/
/*/*//*/*/ /*/*//*#stay-tuned-container
{
	list-style-type: none;
	line-height: 3.1rem;

	border-radius: .64rem;
	margin: 50% .64rem 1.28rem .64rem;
	height: 12.8rem;
	
	background-color: #2D3033;
	color: #00CFFA;
	text-align: center;
	overflow: hidden; /*this is important here if not use conainer's some css overflows and not display
	so remember it*/

/*#stay-tuned-container .stay
{
	width: 50%;
	float: left;
}
#stay-tuned-container .email-address
{
	width: 50%;
	float: right;
}
#stay-tuned-container .email-address input
{
	width: 50%;
	height: 2.5rem;
	border:none;
	color: #2E4600;
}
#stay-tuned-container .email-address .subscribe
{
	color: #fff;
	background: #FF420E;
	font-size: 2.5rem;
	height: 6.2rem;

	border:none;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;/*make hatheli pointer
}*/
@media only screen and (max-width:700px)
{
  #main-nav .main-menu
  {
  	display: none;
  }
   #main-nav
  {
  	display: inline-block;
  	width: 100vw;
  }
  #main-nav .mobile-icon
  {
  	float: right;
  	margin-right: 4%;
  }
#institute-name-div
{  width:96%;/*if alredy given max-width then more than this width not work here*/
    margin-left:2%;margin-right: 2%;
}
.stay-tuned-container
{
	flex-direction: column;
}
}