/*for comment use ctrl+shift+/ in css*/
*
{
	padding: 0;
	margin: 0;
}
body
{

	background-color: #353C3F;
	
}
#menu-bar
{
	max-width: 100%;
	height: 60px;
}
#menu-bar ul
{
  list-style-type: none;/*remove the list style type like bullet circle etc*/

}
#menu-bar ul li
{
	background-color:#D5D6D2;
	width:192.5px;   /*Actually width is a row wise length*/
	/*note: if we use width 100%(in %) menu change in vertical,why?*/
	height: 50px;
	line-height: 50px;/*height b/w consecutive lines*/
	text-align: center;
	float: left;  /*vertical list now in a row line  */ 
	position: relative;
}
#menu-bar ul li a  /*important*/
{
	text-decoration: none; /*it not work in menu-bar ul li since a tag used*/
	color: #301B28;
	font-size: 30px;
}
#menu-bar ul li:hover /*change css when cursor on menu-bar ul li(:hover) */
{
	background-color: #506D2F;
}
#menu-bar ul li:hover >a
{
	color: white; /*it not work when written in menu-bar ul li:hover since a tag text*/
}
#menu-bar ul ul
{
	display: none;  /*no content display of menu-bar ul ul , it can display under some condtion that we give
	like as hover*/
}
#menu-bar ul li:hover > ul /*after hover next ul css*/
{
   display: block;/*display in drop down menu*/
   width: 300px;
}
#menu-bar ul ul li
{
  width: 200px;
}
#menu-bar ul ul ul
{
	margin-left: 200px;
	position: absolute;/*position of ancestor*/
	margin-top:-50px;
}
#menu-bar ul ul ul li
{
	   /*overflow: auto; it helps when contents tall and going outside but created slider to view*/
  /*height: auto; this fill up content but by inreasing height*/
  width: 225px;
}
.signup-front
{
	font-size: 40px;
	color: white;
}
.signup-front:hover
{
	color: pink;
}
/*Let us create side by side div*/
#container
{
	list-style-type: none;
	line-height: 50px;

	border-radius: 10px;
	margin: 50% 10px 20px 10px;
	height: 200px;
	
	background-color: #2D3033;
	color: #00CFFA;
	text-align: center;
	overflow: hidden; /*this is important here if not use conainer's some css overflows and not display
	so remember it*/
}
#container .stay
{
	width: 50%;
	float: left;
}
#container .email
{
	width: 50%;
	float: right;
}
#container .email input
{
	width: 50%;
	height: 40px;
	border:none;
	color: #2E4600;
}
#container .email .subscribe
{
	color: #fff;
	background: #FF420E;
	font-size: 40px;
	height: 100px;

	border:none;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;/*make hatheli pointer*/
}