/*for comment use ctrl+shift+/ in css*/
*
{
	padding: 0;
	margin: 0;
}
body
{

	background-color: #353C3F;
	font-family: montserrat;
	
}

#institute-name
{
	text-align: center;background-color: #756867; text-shadow: .14rem .14rem #E73F0B;
	width: 100vw;
}
#institute-name ul
{
  list-style-type: none;
  margin-left: -1.4rem;
}
#institute-name ul li
{
	font-size: 2.8rem;color: #A11F0C;font-weight:bolder;
}
.logo
{
	width: 2vw;
	height: 9.1rem;
	float:left;
	margin-bottom: .14rem;
}
.logo img
{
	height: 9.1rem;
	width:11.5rem;
	border-radius: 50%;
	object-position: center;
}
nav
{
	width: 100vw;
	height: 5rem;
	background-color:#D5D6D2;
}
#bar {
			font-size: 2rem;
			line-height: 5rem;
			float: right;
			margin-right: 1.4rem;
			color: grey;
			cursor: pointer;
		}
		#check
		{
			display: none;
		}
nav ul
{
  list-style-type: none;/*remove the list style type like bullet circle etc*/
			float: right;
			margin-right: 1.4rem;
			line-height: 4.8rem;
			

}
	label.welcome  /*label .welcome is incorrect format since spacing*/
		{
			color: red;
			font-size: 2rem;
			padding:0 3rem;
			float: left;
			line-height: 4.8rem;
		}
nav ul li
{
	
	display: inline-block;
	margin:0 0;
	line-height: 4.8rem;/*height b/w consecutive lines*/
	float: left;  /*vertical list now in a row line  */ 
	width: 8rem;
	position: relative;
	margin:0 .1rem;
}
nav ul li a  /*important*/
{
	text-decoration: none; /*it not work in menu-bar ul li since a tag used*/
	color: #301B28;
	font-size: 1.6rem;
	text-align: center;
	}
nav ul li:hover /*change css when cursor on menu-bar ul li(:hover) */
{
	background-color: #506D2F;
}
nav ul li:hover >a
{
	color: white; /*it not work when written in menu-bar ul li:hover since a tag text*/
}
nav ul ul
{
	display: none;  /*no content display of menu-bar ul ul , it can display under some condtion that we give
	like as hover*/
}
nav ul li:hover > ul /*after hover next ul css*/
{
   display: block;/*display in drop down menu*/
   width: 18rem;
}
nav ul ul li
{
  width: 14rem;
}
nav ul ul ul
{
	margin-left: 14rem;
	position: absolute;/*position of ancestor*/
	margin-top:-3.1rem;
}
nav ul ul ul li
{
	   /*overflow: auto; it helps when contents tall and going outside but created slider to view*/
  /*height: auto; this fill up content but by inreasing height*/
  width: 14rem;
}
.signup-front
{
	font-size: 2.5rem;
	color: white;
}
.signup-front:hover
{
	color: pink;
}
/*Let us create side by side div*/
#container
{
	list-style-type: none;
	line-height: 3.1rem;

	border-radius: .64rem;
	margin: 50% .64rem 1.28rem .64rem;
	height: 12.8rem;
	
	background-color: #2D3033;
	color: #00CFFA;
	text-align: center;
	overflow: hidden; /*this is important here if not use conainer's some css overflows and not display
	so remember it*/
}
#container .stay
{
	width: 50%;
	float: left;
}
#container .email
{
	width: 50%;
	float: right;
}
#container .email input
{
	width: 50%;
	height: 2.5rem;
	border:none;
	color: #2E4600;
}
#container .email .subscribe
{
	color: #fff;
	background: #FF420E;
	font-size: 2.5rem;
	height: 6.2rem;

	border:none;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;/*make hatheli pointer*/
}